:root {
    --background: #1A191DFF;
    --primary: #6D31ED;  /* Neon pink */
    --secondary: #00a8ff;
    --button-gradient: linear-gradient(to right top,#15abff, #6d31ed);
    --hover: #0077b6;
    --text: #ffffff;
    --text-dark: #222026ff;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: var(--background);
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header {
    background-color: var(--background);
    padding: 10px 15px 10px 15px; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 35px;
    height: 35px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text);
    font-size: 18px;
    font-weight: 550;
}

nav ul li a:hover {
    color: var(--hover); /* Light Gray */
    transition: color 0.3s ease;
}

nav ul li a.active {
    color: var(--hover);
}

.login a {
    background-image: var(--button-gradient);
    color: var(--text);
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    transition: padding 0.3s linear;
}

.login a:hover {
    color: var(--text);
    padding: 12px 22px 12px 22px;
}

main {
    display: flex;
    flex-direction: column;
}
img{
    border-radius: 75px;
}
.row {
    display: flex;
}

.type2,
.type4 {
    margin-left: auto;
    margin-right: 75px; 
}

.type1 img,
.type3 img {
    margin-left: 75px; 
}

.type1 img,
.type2 img,
.type3 img,
.type4 img {
    width: 320px;
    height: auto;
    padding: 50px 10px 30px ;
}
.type1 img,
.type2 img,
.type3 img,
.type4 img {
    margin-left: 75px;
    z-index: 1;
}
.rectangle {
    position: absolute;
    left: 0;
    width: 100%;
    height: 20px; 
    background-color: #6D31ED;
}
.background-box-1,
.background-box-2,
.background-box-3,
.background-box-4 {
    position: absolute;
    top: 80;
    left: 0;
    width: 75%;
    height: 200px;
    background-color: #6d31ed21;
    z-index: -1; 
    margin-top:40px ;
    border-radius: 50px;
}
.background-box-1{
    height: 200px;
    
}
.background-box-2{
    height: 190px;
}
.background-box-3{
    height: 235px;
}
.background-box-4{
    height: 235px;
}

.background-box-1,
.background-box-3{
    margin-left: 40px ;

}
.background-box-2,
.background-box-4{
    margin-left: 320px ;

}

