

:root {
    --background: #353535;
    --random:#1a4470;
    --text: #fff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--background);
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    
}

header h1 {
    padding-left: 10px;
    margin: 0;
    font-size: 36px;
}

nav ul {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
    
}

nav ul li a:hover {
    color: #bdc3c7; /* Light Gray */
    text-decoration: underline;
    transition: color 0.3s fade-in;
}

/* Footer Styles */

footer {
    background-color: var(--primary-color); /* Deep Purple */
    padding: 20px 0;
    text-align: center;
    color: var(--text-color);
}

footer p {
    margin: 0;
    font-size: 14px;
}

/* Hero Section Styles */

.hero {
    background-image: url('/img/hero-background.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    color: var(--text);
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
}

.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: rgb(131,58,180);
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;

}

.cta-button:hover {
    background: rgb(148, 62, 206);
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;
    transition: background 0.3s ease;
}

/* About Section Styles */

.about {
    display: block;
    padding: 10px 0;
    color: var(--text-color);
    text-align: center;

}

.about-container {
    padding: 50px 10px;
    text-align: center;
    color: var(--text-color);
}

.about-container h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-container p {
    font-size: 18px;
}

/*Main content styles*/

.main-content {
    padding: 100px 0;
    color: var(--text-color);
}

.main-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.main-content p {
    font-size: 18px;
}

section.featured-locations {
    padding: 20px 0;
    color: var(--text-color);
    text-align: center;
}

section.featured-locations h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

section.featured-locations p {
    font-size: 18px;
}


.featured-locations-cards img {
    width: 300px;
    height: 300px;
}

.featured-locations-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    align-items: center;
    padding: 50px 0;
    color: var(--text-color);
}

.location {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    max-width: 100%;
    background-color: #1a4470;
    box-shadow: 0 5px 10px #1a4470;
    border-radius: 20px;
    overflow: hidden;
    margin: 1rem;
}

.location-img {
    padding-bottom: 5px;
    width: 100%;
}

.location-info {
    padding: 5px;
    
}






