

:root {
  --background: #121212;
  --primary: #2b5ef7;  /* Neon pink */
  --secondary: #00a8ff;
  --hover: #0077b6;
  --text: #dcdde1;
  
  /* Gradients */
  --backgound-gradient: linear-gradient(to bottom, #121212, #0d0d0d);
  --gradient-linear: linear-gradient(to bottom, var(--primary), var(--secondary));
  --gradient-radial: radial-gradient(circle, var(--primary), var(--secondary));
  --gradient-diagonal: linear-gradient(to bottom right, var(--primary), var(--hover));
    /* https://colorhunt.co/palette/ff204ea0153e5d0e4100224d */
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background: var(--backgound-gradient);
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    
}

header h1 {
    padding-left: 10px;
    margin: 0;
    font-size: 36px;
}

nav ul {
    float: left;
    display: block;
    color: var(--text);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: var(--text);
    text-decoration: none;
    font-size: 18px;
    
}

nav ul li a:hover {
    color: var(--hover); /* Light Gray */
    text-decoration: underline;
    transition: color 0.3s fade-in;
}

/* Footer Styles */

footer {
    background-color: var(--secondary); /* Deep Purple */
    padding: 20px 0;
    text-align: center;
    color: var(--text);
}

footer p {
    margin: 0;
    font-size: 14px;
}

/* Hero Section Styles */

.hero {
    background-image: url('/img/background.webp');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    color: var(--text);
    position: relative;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
}

.hero ::after {
    position: absolute;
    opacity: 0.;
}

.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: var(--secondary);
    color: var(--text);
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;

}

.cta-button:hover {
    background: var(--gradient-radial);
    color: var(--text);
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;
    transition: background 0.3s ease;
}

/* About Section Styles */

.about {
    display: block;
    color: var(--text);
    text-align: center;
    

}

.about-container {
    text-align: center;
    color: var(--text);
    text-align: center;
    padding: 25px 200px 25px 200px;
}

.about-container h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-container p {
    font-size: 18px;
}

/*Main content styles*/

.main-content {
    padding: 100px 0;
    color: var(--text);
}

.main-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.main-content p {
    font-size: 18px;
}

section.featured-locations {
    padding: 20px 0;
    color: var(--text);
    text-align: center;
}

section.featured-locations h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

section.featured-locations p {
    font-size: 18px;
}


.featured-locations-cards img {
    width: 300px;
    height: 300px;
}

.featured-locations-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    align-items: center;
    padding: 50px 0;
    color: var(--text);
}

.location {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    max-width: 100%;
    background-color: var(--primary);
    box-shadow: 0 5px 10px #1a4470;
    border-radius: 20px;
    overflow: hidden;
    margin: 1rem;
}

.location-img {
    padding-bottom: 5px;
    width: 100%;
}

.location-info {
    padding: 5px;
    
}

.location-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: var(--secondary);
    color: var(--text);
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    border-radius: 20px;
}






